.image-56-icon1 {
  height: 1042px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  flex-shrink: 0;
  z-index: 1;
}
.main2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 133px;
  box-sizing: border-box;
  max-width: 100%;
}
.home-navigation-inner {
  height: 94px;
  width: 1920px;
  position: relative;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.office-of-students-welfare-26 {
  height: 241px;
  width: 241px;
  position: absolute;
  margin: 0 !important;
  top: -84px;
  left: 11px;
  object-fit: cover;
  z-index: 1;
}
.announcements4 {
  text-decoration: none;
  position: absolute;
  top: 1.9px;
  left: 37px;
  font-weight: 500;
  color: inherit;
  z-index: 1;
}
.layer-1-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 37px;
  overflow: hidden;
  z-index: 1;
}
.announcements-link {
  align-self: stretch;
  height: 37px;
  position: relative;
}
.navigation-links {
  width: 228px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.helpdesk-icon {
  height: 43px;
  width: 43px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.helpdesk2 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 106px;
  z-index: 2;
}
.helpdesk-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-9) 0 0;
  margin-left: -3px;
}
.helpdesk-link,
.home-navigation2,
.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.helpdesk-link {
  justify-content: flex-start;
}
.home-navigation2,
.navigation {
  box-sizing: border-box;
  max-width: 100%;
}
.home-navigation2 {
  flex: 1;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  justify-content: flex-end;
  padding: var(--padding-7xl) var(--padding-36xl) var(--padding-6xl);
  position: sticky;
  gap: var(--gap-4xl);
  flex-shrink: 0;
  top: 0;
  z-index: 99;
  text-align: left;
  font-size: var(--font-size-3xl-8);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.navigation {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 1326px;
  margin-top: -1175px;
}
.see-new-registration {
  position: relative;
  z-index: 3;
}
.rectangle-parent20,
.see-registration-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent20 {
  flex: 1;
  box-shadow: 4px 4px 10px 6px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  padding: var(--padding-lg) var(--padding-19xl);
  z-index: 2;
}
.see-registration-link {
  align-self: stretch;
  padding: 0 0 0 var(--padding-9xs);
}
.update-items,
.update-items-child,
.update-items3 {
  box-shadow: 4px 4px 10px 6px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
}
.update-items-child {
  height: 96px;
  width: 1596px;
  position: relative;
  display: none;
  max-width: 100%;
}
.update-items,
.update-items3 {
  align-self: stretch;
  flex-direction: row;
  box-sizing: border-box;
  z-index: 2;
}
.update-items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-24xl);
  max-width: 100%;
}
.update-items3 {
  padding: var(--padding-lg) var(--padding-11xl);
}
.update-items3,
.updates-container,
.updates-grid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.updates-grid {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xl);
}
.updates-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-34xl) 0 var(--padding-30xl);
  box-sizing: border-box;
}
.registrations {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.p-m-s-s-s-child {
  align-self: stretch;
  height: 454px;
  position: relative;
  box-shadow: 0 1px 15px 3px rgba(0, 0, 0, 0.25);
  background-color: var(--color-whitesmoke);
  display: none;
}
.frame-child61 {
  height: 55px;
  width: 96px;
  position: relative;
  background-color: var(--color-darkblue-300);
  display: none;
}
.s-no1 {
  position: relative;
  display: inline-block;
  min-width: 63.2px;
  z-index: 1;
}
.frame-child62,
.rectangle-parent21 {
  background-color: var(--color-darkblue-300);
}
.rectangle-parent21 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-8) var(--padding-mini) var(--padding-4xs-2)
    var(--padding-base);
  white-space: nowrap;
  z-index: 2;
}
.frame-child62 {
  height: 55px;
  width: 899.9px;
  position: relative;
  display: none;
  max-width: 100%;
}
.scholarship-name1 {
  width: 589.8px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.frame-child63,
.rectangle-parent22 {
  background-color: var(--color-darkblue-300);
}
.rectangle-parent22 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs-8) var(--padding-xl) var(--padding-4xs-2);
  box-sizing: border-box;
  min-width: 585px;
  max-width: 100%;
  z-index: 2;
  text-align: center;
}
.frame-child63 {
  height: 55px;
  width: 174px;
  position: relative;
  display: none;
}
.applied-on1 {
  position: relative;
  z-index: 1;
}
.frame-child64,
.rectangle-parent23 {
  background-color: var(--color-darkblue-300);
}
.rectangle-parent23 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-8) var(--padding-mini) var(--padding-4xs-2);
  white-space: nowrap;
  z-index: 2;
}
.frame-child64 {
  height: 55px;
  width: 112px;
  position: relative;
  display: none;
}
.status1 {
  position: relative;
  display: inline-block;
  min-width: 87px;
  z-index: 1;
}
.rectangle-parent24 {
  background-color: var(--color-darkblue-300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-7) var(--padding-xs) var(--padding-5xs-3);
  z-index: 2;
}
.frame-child65 {
  height: 55px;
  width: 193px;
  position: relative;
  display: none;
}
.frame-child65,
.frame-child66,
.rectangle-parent25 {
  background-color: var(--color-darkblue-300);
}
.rectangle-parent25 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-4xs);
  white-space: nowrap;
  z-index: 2;
}
.frame-child66 {
  height: 55px;
  width: 122.8px;
  position: relative;
  display: none;
}
.details1 {
  position: relative;
  font-size: var(--font-size-6xl-9);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  min-width: 93px;
  z-index: 1;
}
.frame-child67,
.rectangle-parent26 {
  background-color: var(--color-darkblue-300);
}
.rectangle-parent26 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-sm) var(--padding-6xs)
    var(--padding-mini);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.rectangle-parent26:hover,
.rectangle-parent27:hover {
  background-color: var(--color-darkblue-500);
}
.frame-child67 {
  height: 55px;
  width: 92px;
  position: relative;
  display: none;
}
.print1 {
  position: relative;
  font-size: var(--font-size-6xl-9);
  display: inline-block;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  min-width: 65.5px;
  z-index: 1;
}
.p-m-s-s-s-item-details,
.rectangle-parent27 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent27 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-smi);
  background-color: var(--color-darkblue-300);
  justify-content: flex-start;
  z-index: 2;
}
.p-m-s-s-s-item-details {
  align-self: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-11xs);
  max-width: 100%;
}
.p-m-s-s-s-item-icons-child {
  height: 55px;
  width: 96px;
  position: relative;
  background-color: var(--color-white);
  display: none;
}
.icon {
  flex: 1;
  position: relative;
  z-index: 3;
}
.p-m-s-s-s-item-icons {
  width: 96px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-mid) var(--padding-2xs)
    var(--padding-lg);
  box-sizing: border-box;
  z-index: 2;
}
.p-m-s-s-s-item-titles-child {
  height: 55px;
  width: 900px;
  position: relative;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.prime-ministers-special {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 3;
}
.p-m-s-s-s-item-titles {
  flex: 1;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-8xs) var(--padding-2xs)
    var(--padding-5xs);
  box-sizing: border-box;
  min-width: 585px;
  max-width: 100%;
  z-index: 2;
  text-align: left;
}
.frame-child68,
.rectangle-parent28 {
  width: 174px;
  background-color: var(--color-white);
}
.frame-child68 {
  height: 55px;
  position: relative;
  display: none;
}
.rectangle-parent28 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xl) var(--padding-2xs)
    var(--padding-2xl);
  box-sizing: border-box;
  z-index: 2;
}
.frame-child69,
.p-m-s-s-s-item-status-child {
  height: 55px;
  width: 112px;
  position: relative;
  background-color: var(--color-white);
  display: none;
}
.p-m-s-s-s-item-status-child {
  height: 29px;
  width: 103px;
  border-radius: var(--br-3xs);
  background-color: var(--color-red);
}
.pending1 {
  flex: 1;
  position: relative;
  z-index: 4;
}
.p-m-s-s-s-item-status,
.rectangle-parent29 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.p-m-s-s-s-item-status {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-red);
  padding: 0 var(--padding-8xs);
  z-index: 3;
}
.rectangle-parent29 {
  width: 112px;
  background-color: var(--color-white);
  padding: var(--padding-2xs) var(--padding-9xs) var(--padding-sm)
    var(--padding-8xs);
  box-sizing: border-box;
  z-index: 2;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.frame-child70,
.rectangle-parent30 {
  width: 193px;
  background-color: var(--color-white);
}
.frame-child70 {
  height: 55px;
  position: relative;
  display: none;
}
.rectangle-parent30 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-11xl) var(--padding-2xs);
  box-sizing: border-box;
  z-index: 2;
}
.frame-child71 {
  height: 55px;
  width: 122.8px;
  position: relative;
  background-color: var(--color-white);
  display: none;
}
.frame-child72 {
  height: 16px;
  width: 30px;
  position: relative;
  z-index: 3;
}
.rectangle-parent31 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lgi) var(--padding-27xl) var(--padding-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.frame-child73 {
  height: 55px;
  width: 92px;
  position: relative;
  background-color: var(--color-white);
  display: none;
}
.employee-job-print-seeker-unem-icon1 {
  height: 39px;
  width: 39px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.p-m-s-s-s-items,
.rectangle-parent32 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent32 {
  background-color: var(--color-white);
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-6xl) var(--padding-5xs)
    var(--padding-8xl);
  z-index: 2;
}
.p-m-s-s-s-items {
  align-self: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-11xs);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-gray);
}
.p-m-s-s-s-items-child,
.p-m-s-s-s-items-item {
  height: 55px;
  position: relative;
  background-color: var(--color-white);
  z-index: 2;
}
.p-m-s-s-s-items-child {
  width: 96px;
}
.p-m-s-s-s-items-item {
  flex: 1;
  min-width: 585px;
  max-width: 100%;
}
.frame-child74 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  display: none;
}
.p-m-s-s-s-items-inner {
  height: 55px;
  width: 174px;
  position: relative;
  background-color: var(--color-white);
  z-index: 2;
}
.p-m-s-s-s-items-inner1,
.p-m-s-s-s-items-inner2,
.p-m-s-s-s-items-inner3,
.p-m-s-s-s-items-inner4 {
  height: 55px;
  width: 112px;
  position: relative;
  background-color: var(--color-white);
  z-index: 2;
}
.p-m-s-s-s-items-inner2,
.p-m-s-s-s-items-inner3,
.p-m-s-s-s-items-inner4 {
  width: 193px;
}
.p-m-s-s-s-items-inner3,
.p-m-s-s-s-items-inner4 {
  width: 122.8px;
}
.p-m-s-s-s-items-inner4 {
  width: 92px;
}
.p-m-s-s-s,
.registrations-parent {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.p-m-s-s-s {
  box-shadow: 0 1px 15px 3px rgba(0, 0, 0, 0.25);
  background-color: var(--color-whitesmoke);
  display: flex;
  align-items: flex-start;
  gap: var(--gap-11xs);
  max-width: 100%;
  z-index: 1;
  font-size: var(--font-size-6xl-9);
  color: var(--color-white);
}
.registrations-parent {
  gap: var(--gap-31xl);
  font-size: var(--font-size-41xl);
}
.registrations-parent,
.updates,
.updates-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.updates {
  width: 1702px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 67px;
}
.updates-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-darkblue-300);
  font-family: var(--font-poppins);
}
.logo-nicpng-icon6,
.meitypng-icon6 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.meitypng-icon6 {
  height: 105px;
  width: 242.4px;
}
.logo-nicpng-icon6 {
  align-self: stretch;
  height: 73.5px;
  max-width: 100%;
}
.logonic {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-2xs-5);
  box-sizing: border-box;
  min-width: 187px;
}
.mygovpng-icon6 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 105px;
  min-height: 105px;
  z-index: 1;
}
.logos-bottom-image {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-50xl-1);
}
.terms-conditions6 {
  position: relative;
  font-weight: 500;
  white-space: pre-wrap;
}
.disclaimer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-23xl) 0 var(--padding-29xl);
}
.logos-bottom,
.logos-top,
.logos2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.logos-bottom {
  width: 873px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.logos-top,
.logos2 {
  flex-direction: row;
}
.logos-top {
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-50xl-2);
}
.logos2 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
}
.last-updated-child1 {
  height: 106.7px;
  width: 1920.3px;
  position: relative;
  background-color: var(--color-darkblue-100);
  display: none;
  max-width: 100%;
}
.last-updated-on6 {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.footer5,
.last-updated3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.last-updated3 {
  background-color: var(--color-darkblue-100);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xl-7) var(--padding-xl) var(--padding-4xl-6);
  box-sizing: border-box;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
}
.footer5 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-mid-7);
  text-align: left;
  font-size: var(--font-size-7xl-7);
  color: var(--color-silver);
  font-family: var(--font-poppins);
}
.content4,
.image-57-icon1 {
  align-self: stretch;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: -1175px;
}
.content4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 238px;
}
.image-57-icon1 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.institution-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 2164px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .main2,
  .navigation {
    padding-bottom: 86px;
    box-sizing: border-box;
  }
  .navigation {
    padding-bottom: 862px;
  }
  .updates-container {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .see-new-registration {
    font-size: var(--font-size-13xl);
  }
  .registrations {
    font-size: var(--font-size-29xl);
  }
  .logos-bottom-image {
    gap: var(--gap-16xl);
  }
  .disclaimer {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .last-updated-on6 {
    font-size: var(--font-size-13xl);
  }
  .content4 {
    gap: 119px;
  }
}
@media screen and (max-width: 750px) {
  .main2 {
    padding-bottom: var(--padding-37xl);
    box-sizing: border-box;
  }
  .home-navigation2 {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .navigation {
    padding-bottom: 560px;
    box-sizing: border-box;
  }
  .updates-grid {
    gap: var(--gap-mini);
  }
  .p-m-s-s-s-item-titles,
  .p-m-s-s-s-items-item,
  .rectangle-parent22 {
    min-width: 100%;
  }
  .registrations-parent {
    gap: var(--gap-6xl);
  }
  .updates {
    gap: var(--gap-14xl);
  }
  .logos-bottom-image {
    flex-wrap: wrap;
  }
  .logos-top {
    gap: var(--gap-16xl);
  }
  .content4 {
    gap: 59px;
  }
}
@media screen and (max-width: 450px) {
  .see-new-registration {
    font-size: var(--font-size-5xl);
  }
  .update-items {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .registrations {
    font-size: var(--font-size-17xl);
  }
  .details1,
  .print1,
  .scholarship-name1,
  .status1 {
    font-size: var(--font-size-2xl);
  }
  .icon,
  .prime-ministers-special {
    font-size: var(--font-size-lgi);
  }
  .pending1 {
    font-size: var(--font-size-base);
  }
  .logos-bottom-image,
  .updates {
    gap: var(--gap-mid);
  }
  .terms-conditions6 {
    font-size: var(--font-size-2xl);
  }
  .logos-top {
    gap: var(--gap-mid);
  }
  .last-updated-on6 {
    font-size: var(--font-size-5xl);
  }
}
